---
layout: layouts/base.njk
title: Favorite JavaScript utilities in single line of code
eleventyExcludeFromCollections: true
---

{% block content %}
<section class="header">
  <div class="container">
    <div class="hero">
      <div class="support-collection-heading">
        <h1>Code short snippets</h1>
        <p>
          Unleash the power of 300+ JavaScript snippets to significantly boost
          your coding productivity in your upcoming projects and improve your
          efficiency with the Visual Studio Code (VSCode) Integrated Development
          Environment (IDE).
        </p>
      </div>
      <div class="search">
        <div class="input-group">
          <svg
            class="icon-search"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z"
              fill="#402E32"
            />
          </svg>

          <input
            class="text-field"
            type="search"
            placeholder="Search..."
            id="searchField"
          />
        </div>
        <div id="searchResults"></div>
        <div id="noResultsFound" style="display: none">
          <p>No results found.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

<div class="container top">
  {% for cat in collections.categories %} {% set posts =
  collections.groupByCategories[cat] %}
  <div class="category">
    <div class="category__posts">
      <h2 class="category__name">{{ cat }} &mdash; {{ posts.length }}</h2>
      {%- for post in posts | head(5) -%}
      <div class="card__item">
        <a class="card__link" href="{{ post.url }}">{{ post.data.title }}</a>
      </div>
      {%- endfor -%}
    </div>
    <a class="category__link" href="/{{ cat | lower | slug }}"
      >See all {{ posts | length }} helpers</a
    >
  </div>
  {% endfor %}
</div>
