<!DOCTYPE html>
<html lang="{{ metadata.language }}">
  <head>
    <title>{{ title or metadata.title }} - 1 LOC</title>
    <link rel="icon" href="/assets/favicon.png" type="image/png" />
    <link rel="icon" href="/assets/favicon.svg" type="image/svg+xml" />
    <link rel="mask-icon" href="/assets/mask-favicon.svg" color="#1975FF" />
    <meta charset="utf-8" />
    <meta name="description" content="{{ title or metadata.title }}" />
    <meta
      name="keywords"
      content="JavaScript helpers, JavaScript snippets, JavaScript utils"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="{{ title or metadata.title }}" />
    <meta name="twitter:site" content="@nghuuphuoc" />
    <meta
      name="twitter:title"
      content="{{ title or metadata.title }} - 1 LOC"
    />
    <meta property="og:description" content="{{ title or metadata.title }}" />
    <meta property="og:site_name" content="1LOC" />
    <meta property="og:title" content="{{ title or metadata.title }} - 1 LOC" />
    <link rel="stylesheet" href="/styles/index.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;1,400;1,500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {{ content | safe }}
  </body>
	<script type="text/javascript" src="/js/bundle.js"></script>
</html>
