.card__item {
	grid-column-gap: 12px;
	grid-row-gap: 12px;
	color: #402e32;
	background-color: #fffefd;
	border: 1px solid #e4dacb;
	border-radius: 14px;
	flex-direction: column;
	padding: 32px;
	font-weight: 400;
	transition:
		transform 0.2s,
		color 0.2s;
	display: flex;
	box-shadow: 1px 1px 20px rgba(64, 46, 50, 0.1);
	.card__link {
		color: #402e32;
		background-color: #fffefd;
		font-size: 16px;
		line-height: 130%;
		font-weight: 500;
		text-decoration: none;
	}
	&:hover {
		transform: scale(0.98);
	}
}
